{{> header}}

                <form action="/admin/login" method="post" class="form">
                    <div class="form__group">
                        <input type="email" name="email" id="user__email" class="form__input" placeholder="Email">
                    </div>
                    <div class="form__group">
                        <input type="text" name="password" id="user__password" class="form__input" placeholder="Password">
                    </div>
                    <div class="form__group">
                        <button type="submit" id="login__btn" class="btn btn--white btn--animated">Log In</button>
                        <a href="/requestPassword" class="btn-text--white">Forgot my password</a>
                    </div>
        
                </form>

{{> footer}}