{{> header}}

<form action="/requestPassword/send" method="post" class="form">
    <div class="form__group">
        <input type="email" name="email" id="user__email" class="form__input" placeholder="Email">
    </div>
    <div class="form__group">
        <button type="submit" id="login__btn" class="btn btn--white btn--animated">Retrieve</button>
    </div>

</form>

{{> footer}}